<h2 style="text-align: center;">List Of Jokes</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Setup</th>
            <th scope="col">Punchline</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let joke of jokes">
            <th scope="row">{{ joke.id }}</th>
            <td>{{ joke.type }}</td>
            <td>{{ joke.setup }}</td>
            <td>{{ joke.punchline }}</td>
        </tr>
    </tbody>
</table>